<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/shopper/style.css">
    </head>
    <body>
        <div class="Contoso-HyperMarket-Landing-Cerebral-1">
            <div class="Background">
                <div class="Vector"></div>
                <span class="Title">
                    Contoso HyperMarket
                  </span>
                  <div class="Search-Rest">
                    <span class="Hint-Text">
                        Search products, savings, or recipes
                      </span>    
                  </div>
                  <div class="Footprint">
                    <div class="Shape"></div>
                  </div>
                  <div class="Footprint">
                    <div class="CircleShape"></div>
                  </div>
                  <div class="Footprint">
                    <div class="HeartShape"></div>
                  </div>
            </div>
        </div>
<!-- png -->

<img src="../../img/main-content.png"
     srcset="../../img/main-content@2x.png 2x,
     ../../img/main-content@3x.png 3x"
     class="Main-content">

<!-- svg -->

<img src="../../img/main-content.svg"
     class="Main-content">

<!-- webp -->

<img src="../../img/main-content.webp"
     srcset="../../img/main-content@2x.webp 2x,
     ../../img/main-content@3x.webp 3x"
     class="Main-content">        
    </body>
</html>