<div style="width: 1440px; height: 1225px; position: relative">
    <div style="width: 1440px; height: 1177px; left: 0px; top: 48px; position: absolute; background: white"></div>
    <div style="width: 1440px; height: 48px; left: 0px; top: 0px; position: absolute; background: #063004">
      <div style="width: 1440px; height: 48px; left: 0px; top: 0px; position: absolute; background: #063004"></div>
      <div style="width: 492px; height: 48px; left: 474px; top: 0px; position: absolute">
        <div style="width: 468px; height: 32px; left: 12px; top: 8px; position: absolute; opacity: 0.78; background: #CEF0CD; border-radius: 2px"></div>
        <div style="left: 44px; top: 14px; position: absolute; color: #063004; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Search products, savings, or recipes</div>
        <div style="width: 32px; height: 32px; left: 12px; top: 8px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 32px; height: 32px; position: relative">
            <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute"></div>
            <div style="width: 16px; height: 16px; left: 8px; top: 8px; position: absolute">
              <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute"></div>
              <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; color: #063004; font-size: 16px; font-family: Fabric MDL2 Assets; font-weight: 400; word-wrap: break-word"></div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 192px; height: 48px; left: 1248px; top: 0px; position: absolute">
        <div style="width: 48px; height: 48px; left: 144px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 48px; height: 48px; position: relative">
            <div style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute; background: #063004"></div>
            <div style="width: 20px; height: 20px; left: 14px; top: 14px; position: absolute">
              <div style="width: 16px; height: 16px; left: 2px; top: 2px; position: absolute"></div>
              <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute">
                <div style="width: 14px; height: 14px; left: 3px; top: 3px; position: absolute; background: rgba(255, 255, 255, 0.90)"></div>
              </div>
            </div>
          </div>
          <div style="width: 8px; height: 8px; position: relative">
            <div style="width: 8px; height: 8px; left: 0px; top: 0px; position: absolute; background: #A7E3A5; border-radius: 9999px"></div>
            <div style="width: 8px; height: 8px; left: 0px; top: 0px; position: absolute; text-align: center; color: #00723B; font-size: 6px; font-family: Arial; font-weight: 400; word-wrap: break-word">3</div>
          </div>
        </div>
        <div style="width: 48px; height: 48px; left: 96px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 48px; height: 48px; position: relative">
            <div style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute; background: #063004"></div>
            <div style="width: 20px; height: 20px; left: 14px; top: 14px; position: absolute">
              <div style="width: 16px; height: 16px; left: 2px; top: 2px; position: absolute"></div>
              <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute">
                <div style="width: 16px; height: 14px; left: 2px; top: 3px; position: absolute; background: rgba(255, 255, 255, 0.90)"></div>
              </div>
            </div>
          </div>
          <div style="width: 8px; height: 8px; position: relative">
            <div style="width: 8px; height: 8px; left: 0px; top: 0px; position: absolute; background: #A7E3A5; border-radius: 9999px"></div>
            <div style="width: 8px; height: 8px; left: 0px; top: 0px; position: absolute; text-align: center; color: #00723B; font-size: 6px; font-family: Arial; font-weight: 400; word-wrap: break-word">3</div>
          </div>
        </div>
        <div style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 48px; height: 48px; position: relative">
            <div style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute; background: #063004"></div>
            <div style="width: 20px; height: 20px; left: 14px; top: 14px; position: absolute">
              <div style="width: 16px; height: 16px; left: 2px; top: 2px; position: absolute"></div>
              <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute">
                <div style="width: 14px; height: 16px; left: 3px; top: 2px; position: absolute; background: rgba(255, 255, 255, 0.90)"></div>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 48px; height: 48px; left: 48px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 48px; height: 48px; position: relative">
            <div style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute; background: #A7E3A5"></div>
            <div style="width: 17px; height: 17px; left: 16px; top: 15px; position: absolute">
              <div style="width: 16px; height: 16px; left: 0px; top: 1px; position: absolute"></div>
              <div style="width: 16px; height: 16px; left: 1px; top: 0px; position: absolute; background: #323130"></div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 168px; height: 20px; left: 61px; top: 13px; position: absolute; color: white; font-size: 16px; font-family: Segoe UI; font-weight: 600; line-height: 22px; word-wrap: break-word">Contoso HyperMarket</div>
      <div style="width: 30px; height: 30px; left: 20px; top: 8px; position: absolute">
        <div style="width: 26px; height: 28px; left: 1px; top: 1px; position: absolute">
          <div style="width: 7px; height: 12px; left: 3px; top: 3px; position: absolute; background: #F98500"></div>
          <div style="width: 2px; height: 1px; left: 7px; top: 10px; position: absolute; background: #FA6D00"></div>
          <div style="width: 2px; height: 1px; left: 8px; top: 11px; position: absolute; background: #FA6D00"></div>
          <div style="width: 8px; height: 11px; left: 8px; top: 1px; position: absolute; background: #598C44"></div>
          <div style="width: 7px; height: 10px; left: 13px; top: 1px; position: absolute; background: #5F9548"></div>
          <div style="width: 9px; height: 13px; left: 17px; top: 1px; position: absolute; background: #FFB531"></div>
          <div style="width: 14px; height: 17px; left: 5px; top: 9px; position: absolute; background: #FFB531"></div>
          <div style="width: 14px; height: 13px; left: 5px; top: 13px; position: absolute; background: #FCAC1F"></div>
          <div style="width: 6px; height: 17px; left: 19px; top: 9px; position: absolute; background: #F98500"></div>
          <div style="width: 7px; height: 7px; left: 1px; top: 20px; position: absolute; background: #F35244"></div>
          <div style="width: 2px; height: 4px; left: 11px; top: 18px; position: absolute; background: #5F9548"></div>
          <div style="width: 4px; height: 7px; left: 8px; top: 21px; position: absolute; background: #FA9F0C"></div>
          <div style="width: 4px; height: 7px; left: 12px; top: 21px; position: absolute; background: #FA9F0C"></div>
          <div style="width: 3px; height: 7px; left: 10px; top: 21px; position: absolute; background: #FFB531"></div>
          <div style="width: 26px; height: 28px; left: 0px; top: 0px; position: absolute">
            <div style="width: 24px; height: 26px; left: 2px; top: 0px; position: absolute; background: black"></div>
            <div style="width: 3px; height: 1px; left: 21px; top: 4px; position: absolute; transform: rotate(-9.52deg); transform-origin: 0 0; background: black"></div>
            <div style="width: 3px; height: 1px; left: 20px; top: 7px; position: absolute; transform: rotate(-9.52deg); transform-origin: 0 0; background: black"></div>
            <div style="width: 16px; height: 11px; left: 0px; top: 17px; position: absolute; background: black"></div>
          </div>
        </div>
      </div>
      <div style="height: 32px; left: 810px; top: 8px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="align-self: stretch; height: 32px; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="align-self: stretch; padding-left: 10px; padding-right: 10px; background: rgba(255, 255, 255, 0); border-radius: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
            <div style="flex: 1 1 0; height: 32px; justify-content: flex-start; align-items: center; display: flex">
              <div style="flex: 1 1 0; height: 32px; padding-top: 5px; padding-bottom: 7px; padding-left: 2px; padding-right: 2px; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="color: black; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">All categories</div>
              </div>
            </div>
            <div style="padding-top: 6px; padding-bottom: 6px; padding-left: 2px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
              <div style="width: 20px; height: 20px; position: relative">
                <div style="width: 12px; height: 6.50px; left: 4px; top: 7.50px; position: absolute; background: #616161"></div>
              </div>
            </div>
          </div>
          <div style="width: 144px; height: 1px; background: black"></div>
        </div>
      </div>
    </div>
    <div style="width: 1440px; height: 50px; left: 0px; top: 48px; position: absolute; background: #F3FDF8"></div>
    <div style="width: 1256px; height: 154px; left: 91px; top: 614px; position: absolute">
      <img style="width: 152px; height: 154px; left: 0px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/152x154" />
      <img style="width: 152px; height: 154px; left: 736px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/152x154" />
      <img style="width: 152px; height: 154px; left: 368px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/152x154" />
      <img style="width: 152px; height: 154px; left: 1104px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/152x154" />
      <img style="width: 152px; height: 154px; left: 184px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/152x154" />
      <img style="width: 152px; height: 154px; left: 920px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/152x154" />
      <img style="width: 152px; height: 154px; left: 552px; top: 0px; position: absolute; border-radius: 8px" src="https://via.placeholder.com/152x154" />
    </div>
    <div style="height: 32px; left: 218px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; height: 32px; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding-left: 10px; padding-right: 10px; background: rgba(255, 255, 255, 0); border-radius: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
          <div style="flex: 1 1 0; height: 32px; justify-content: flex-start; align-items: center; display: flex">
            <div style="flex: 1 1 0; height: 32px; padding-top: 5px; padding-bottom: 7px; padding-left: 2px; padding-right: 2px; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="color: #707070; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Order ahead</div>
            </div>
          </div>
          <div style="padding-top: 6px; padding-bottom: 6px; padding-left: 2px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
            <div style="width: 20px; height: 20px; position: relative">
              <div style="width: 12px; height: 6.50px; left: 4px; top: 7.50px; position: absolute; background: #616161"></div>
            </div>
          </div>
        </div>
        <div style="width: 199px; height: 1px; background: rgba(255, 255, 255, 0)"></div>
      </div>
    </div>
    <div style="height: 32px; left: 428px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; height: 32px; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding-left: 10px; padding-right: 10px; background: rgba(255, 255, 255, 0); border-radius: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
          <div style="flex: 1 1 0; height: 32px; justify-content: flex-start; align-items: center; display: flex">
            <div style="flex: 1 1 0; height: 32px; padding-top: 5px; padding-bottom: 7px; padding-left: 2px; padding-right: 2px; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="color: #707070; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Weekly sales</div>
            </div>
          </div>
          <div style="padding-top: 6px; padding-bottom: 6px; padding-left: 2px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
            <div style="width: 20px; height: 20px; position: relative">
              <div style="width: 12px; height: 6.50px; left: 4px; top: 7.50px; position: absolute; background: #616161"></div>
            </div>
          </div>
        </div>
        <div style="width: 199px; height: 1px; background: rgba(255, 255, 255, 0)"></div>
      </div>
    </div>
    <div style="height: 32px; left: 638px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; height: 32px; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding-left: 10px; padding-right: 10px; background: rgba(255, 255, 255, 0); border-radius: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
          <div style="flex: 1 1 0; height: 32px; justify-content: flex-start; align-items: center; display: flex">
            <div style="flex: 1 1 0; height: 32px; padding-top: 5px; padding-bottom: 7px; padding-left: 2px; padding-right: 2px; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="color: #707070; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Catering</div>
            </div>
          </div>
          <div style="padding-top: 6px; padding-bottom: 6px; padding-left: 2px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
            <div style="width: 20px; height: 20px; position: relative">
              <div style="width: 12px; height: 6.50px; left: 4px; top: 7.50px; position: absolute; background: #616161"></div>
            </div>
          </div>
        </div>
        <div style="width: 199px; height: 1px; background: rgba(255, 255, 255, 0)"></div>
      </div>
    </div>
    <div style="height: 32px; left: 848px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; height: 32px; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding-left: 10px; padding-right: 10px; background: rgba(255, 255, 255, 0); border-radius: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
          <div style="flex: 1 1 0; height: 32px; justify-content: flex-start; align-items: center; display: flex">
            <div style="flex: 1 1 0; height: 32px; padding-top: 5px; padding-bottom: 7px; padding-left: 2px; padding-right: 2px; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="color: #707070; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Recipes</div>
            </div>
          </div>
          <div style="padding-top: 6px; padding-bottom: 6px; padding-left: 2px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
            <div style="width: 20px; height: 20px; position: relative">
              <div style="width: 12px; height: 6.50px; left: 4px; top: 7.50px; position: absolute; background: #616161"></div>
            </div>
          </div>
        </div>
        <div style="width: 199px; height: 1px; background: rgba(255, 255, 255, 0)"></div>
      </div>
    </div>
    <div style="height: 32px; left: 1058px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; height: 32px; border-radius: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding-left: 10px; padding-right: 10px; background: rgba(255, 255, 255, 0); border-radius: 4px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
          <div style="flex: 1 1 0; height: 32px; justify-content: flex-start; align-items: center; display: flex">
            <div style="flex: 1 1 0; height: 32px; padding-top: 5px; padding-bottom: 7px; padding-left: 2px; padding-right: 2px; justify-content: flex-start; align-items: flex-start; display: flex">
              <div style="color: #707070; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Delivery & curbside</div>
            </div>
          </div>
          <div style="padding-top: 6px; padding-bottom: 6px; padding-left: 2px; justify-content: flex-end; align-items: center; gap: 4px; display: flex">
            <div style="width: 20px; height: 20px; position: relative">
              <div style="width: 12px; height: 6.50px; left: 4px; top: 7.50px; position: absolute; background: #616161"></div>
            </div>
          </div>
        </div>
        <div style="width: 199px; height: 1px; background: rgba(255, 255, 255, 0)"></div>
      </div>
    </div>
    <div style="width: 471px; height: 47px; left: 91px; top: 541px; position: absolute; color: black; font-size: 28px; font-family: Segoe UI; font-weight: 600; line-height: 36px; word-wrap: break-word">Explore Categories</div>
    <div style="left: 133px; top: 773px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
      <div style="color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Vegetables</div>
    </div>
    <div style="left: 325px; top: 773px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
      <div style="color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Seafood</div>
    </div>
    <div style="left: 486px; top: 773px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
      <div style="color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Subs and wraps</div>
    </div>
    <div style="left: 671px; top: 773px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
      <div style="color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Imported cheese</div>
    </div>
    <div style="left: 859px; top: 773px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
      <div style="color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Beer and wine</div>
    </div>
    <div style="left: 1051px; top: 773px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
      <div style="color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Gluten-free</div>
    </div>
    <div style="left: 1235px; top: 773px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 4px; display: inline-flex">
      <div style="color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 400; line-height: 20px; word-wrap: break-word">Plant based</div>
    </div>
    <div style="width: 600px; height: 400px; left: 93px; top: 119px; position: absolute; background: white; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12); border-radius: 4px; overflow: hidden; border: 1px rgba(255, 255, 255, 0) solid; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="align-self: stretch; flex: 1 1 0; border: 1px rgba(255, 255, 255, 0) solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; padding: 12px; background-image: url(https://via.placeholder.com/600x336); justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="flex: 1 1 0; align-self: stretch"></div>
        </div>
      </div>
      <div style="align-self: stretch; border-radius: 4px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; height: 64px; padding: 12px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
          <div style="flex: 1 1 0; height: 40px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
            <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 600; line-height: 20px; word-wrap: break-word">Now offering curbside pickup</div>
              </div>
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #616161; font-size: 12px; font-family: Segoe UI; font-weight: 400; line-height: 16px; word-wrap: break-word">Start your cart</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 600px; height: 400px; left: 747px; top: 119px; position: absolute; background: white; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12); border-radius: 4px; overflow: hidden; border: 1px rgba(255, 255, 255, 0) solid; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="align-self: stretch; flex: 1 1 0; border: 1px rgba(255, 255, 255, 0) solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; padding: 12px; background-image: url(https://via.placeholder.com/600x336); justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="flex: 1 1 0; align-self: stretch"></div>
        </div>
      </div>
      <div style="align-self: stretch; border-radius: 4px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; height: 64px; padding: 12px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
          <div style="flex: 1 1 0; height: 40px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
            <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 600; line-height: 20px; word-wrap: break-word">Let Cerebral handle your dinner recipes</div>
              </div>
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #616161; font-size: 12px; font-family: Segoe UI; font-weight: 400; line-height: 16px; word-wrap: break-word">Lorem ipsum</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 350px; height: 250px; left: 545px; top: 864px; position: absolute; background: white; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12); border-radius: 4px; overflow: hidden; border: 1px rgba(255, 255, 255, 0) solid; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="align-self: stretch; flex: 1 1 0; border: 1px rgba(255, 255, 255, 0) solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; padding: 12px; background-image: url(https://via.placeholder.com/350x186); justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="flex: 1 1 0; align-self: stretch"></div>
        </div>
      </div>
      <div style="align-self: stretch; border-radius: 4px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; height: 64px; padding: 12px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
          <div style="flex: 1 1 0; height: 40px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
            <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 600; line-height: 20px; word-wrap: break-word">Grab and go meals</div>
              </div>
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #616161; font-size: 12px; font-family: Segoe UI; font-weight: 400; line-height: 16px; word-wrap: break-word">Located in the Deli</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 350px; height: 250px; left: 93px; top: 864px; position: absolute; background: white; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12); border-radius: 4px; overflow: hidden; border: 1px rgba(255, 255, 255, 0) solid; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="align-self: stretch; flex: 1 1 0; border: 1px rgba(255, 255, 255, 0) solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; padding: 12px; background-image: url(https://via.placeholder.com/350x186); justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="flex: 1 1 0; align-self: stretch"></div>
        </div>
      </div>
      <div style="align-self: stretch; border-radius: 4px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; height: 64px; padding: 12px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
          <div style="flex: 1 1 0; height: 40px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
            <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 600; line-height: 20px; word-wrap: break-word">Easy to cook meal kits</div>
              </div>
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #616161; font-size: 12px; font-family: Segoe UI; font-weight: 400; line-height: 16px; word-wrap: break-word">Located in the Deli</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 350px; height: 250px; left: 997px; top: 864px; position: absolute; background: white; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12); border-radius: 4px; overflow: hidden; border: 1px rgba(255, 255, 255, 0) solid; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="align-self: stretch; flex: 1 1 0; border: 1px rgba(255, 255, 255, 0) solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; padding: 12px; background-image: url(https://via.placeholder.com/350x186); justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="flex: 1 1 0; align-self: stretch"></div>
        </div>
      </div>
      <div style="align-self: stretch; border-radius: 4px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; height: 64px; padding: 12px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
          <div style="flex: 1 1 0; height: 40px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
            <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #242424; font-size: 14px; font-family: Segoe UI; font-weight: 600; line-height: 20px; word-wrap: break-word">Cake for any occasion</div>
              </div>
              <div style="align-self: stretch; padding-bottom: 2px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="flex: 1 1 0; color: #616161; font-size: 12px; font-family: Segoe UI; font-weight: 400; line-height: 16px; word-wrap: break-word">Located in the Bakery</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>