<!DOCTYPE html>

<head>
    <title>Person count demo</title>
    <style>
        .container {
            position: relative;
            width: 640px;
            height: 480px;
        }

        #webCamera {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #videoCanvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<h1>Person count demo</h1>
<form method="post" action="/inference" onsubmit="submitAction();">

    <h2>
        Source
    </h2>
    <input type="text" placeholder="Enter the URL of the video stream" value="" name="txtVideoSource"
        id="txtVideoSource" style="width:700px" onblur="changeVideoURL();" />
    <p>
        <label>OR, select from the following list</label>
    </p>
    <select id="videoSource" name="videoSource" onchange="changeVideoSelection();">
        <option value="rtsp://localhost:554/stream">rtsp://localhost:554/stream</option>
        <option value="https://github.com/intel-iot-devkit/sample-videos/raw/master/people-detection.mp4">
            https://github.com/intel-iot-devkit/sample-videos/raw/master/people-detection.mp4</option>
        <option
            value="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/49_20HQOeijh9fog1/uae-dubai-february-1-2016-people-near-shop-counter-with-fresh-fruits-inside-dubai-mall-in-united-arab-emirates-dubai-mall-is-the-world-largest-shopping-mall_nixdioorg__54efbe10ef1db686a89eb84a13815e70__P360.mp4">
            https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/49_20HQOeijh9fog1/uae-dubai-february-1-2016-people-near-shop-counter-with-fresh-fruits-inside-dubai-mall-in-united-arab-emirates-dubai-mall-is-the-world-largest-shopping-mall_nixdioorg__54efbe10ef1db686a89eb84a13815e70__P360.mp4
        </option>
        <option
            value="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/SEcSCp_lol7ukts6n/videoblocks-right-to-left-pan-of-grocery-store-with-very-little-fruit-in-fruit-stands_h1xftggdh__090373eefddab942faba59188b8bea1c__P360.mp4">
            https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/SEcSCp_lol7ukts6n/videoblocks-right-to-left-pan-of-grocery-store-with-very-little-fruit-in-fruit-stands_h1xftggdh__090373eefddab942faba59188b8bea1c__P360.mp4
        </option>
        <option
            value="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/SEcSCp_lol7ukts6n/videoblocks-aerial-top-down-view-people-grocery-shopping-with-dividers-plexiglass-barri_hw75n3prh__3c8362e8e446a5950783b62bcea64086__P360.mp4">
            https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/SEcSCp_lol7ukts6n/videoblocks-aerial-top-down-view-people-grocery-shopping-with-dividers-plexiglass-barri_hw75n3prh__3c8362e8e446a5950783b62bcea64086__P360.mp4
        </option>
        <option
            value="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/SEcSCp_lol7ukts6n/videoblocks-aerial-long-lines-of-blue-masked-shoppers-afraid-of-virus-standing-in-line-_bq-sd1-dn__90182c6a70c6bc547346bf2c8ad2a5a9__P360.mp4">
            https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/SEcSCp_lol7ukts6n/videoblocks-aerial-long-lines-of-blue-masked-shoppers-afraid-of-virus-standing-in-line-_bq-sd1-dn__90182c6a70c6bc547346bf2c8ad2a5a9__P360.mp4
        </option>
        <option
            value="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/e4Gpia8/videoblocks-sarajevo-bosnia-and-herzegovina-may-13th-high-angle-shot-of-a-fruits-and-ve_bzfdqwqk4__6b09cc12146b8d3fa7a9a552b55bd115__P360.mp4">
            https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/e4Gpia8/videoblocks-sarajevo-bosnia-and-herzegovina-may-13th-high-angle-shot-of-a-fruits-and-ve_bzfdqwqk4__6b09cc12146b8d3fa7a9a552b55bd115__P360.mp4
        </option>
        <option
            value="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/r6uQGb9/drugstore-in-shinkyogoku-shopping-street-in-kyoto-japan-asia-japanese-people-tourists-crowd-shopping-in-shops-and-stores_rdc-wgdpe__0b3d31d50bb1ac11252f8e8b223b8107__P360.mp4">
            https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/r6uQGb9/drugstore-in-shinkyogoku-shopping-street-in-kyoto-japan-asia-japanese-people-tourists-crowd-shopping-in-shops-and-stores_rdc-wgdpe__0b3d31d50bb1ac11252f8e8b223b8107__P360.mp4
        </option>
        <option
            value="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/49_20HQOeijh9fog1/people-in-shopping-area-in-sharm-el-sheikh-egypt_vdlwoxwye__60cd1b0bc7975228b55a97321e6a676d__P360.mp4">
            https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/49_20HQOeijh9fog1/people-in-shopping-area-in-sharm-el-sheikh-egypt_vdlwoxwye__60cd1b0bc7975228b55a97321e6a676d__P360.mp4
        </option>
        <option
            value="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/49_20HQOeijh9fog1/greece-thessaloniki-june-12-2013-people-inside-duty-free-store-in-international-airport-in-thessaloniki-greece_v_s17rzke__59486b5487f9bf5407c152edcceee609__P360.mp4">
            https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/49_20HQOeijh9fog1/greece-thessaloniki-june-12-2013-people-inside-duty-free-store-in-international-airport-in-thessaloniki-greece_v_s17rzke__59486b5487f9bf5407c152edcceee609__P360.mp4
        </option>
        <option
            value="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/SEcSCp_lol7ukts6n/videoblocks-aerial-view-people-walking-down-center-lane-grocery-shopping-by-produce-sec_ryyqlpbp3__9a31ad8ce3f137b6572eefb5e6255d81__P360.mp4">
            https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/SEcSCp_lol7ukts6n/videoblocks-aerial-view-people-walking-down-center-lane-grocery-shopping-by-produce-sec_ryyqlpbp3__9a31ad8ce3f137b6572eefb5e6255d81__P360.mp4
        </option>
        <option value="https://videos.pond5.com/people-are-pushing-carts-along-footage-111188459_main_xxl.mp4">
            https://videos.pond5.com/people-are-pushing-carts-along-footage-111188459_main_xxl.mp4</option>
    </select>
    <input type="text" id="txtX1" name="txtX1" style="display: none;" />
    <input type="text" id="txtY1" name="txtY1" style="display: none;" />
    <input type="text" id="txtX2" name="txtX2" style="display: none;" />
    <input type="text" id="txtY2" name="txtY2" style="display: none;" />
    <h2>
        Selected Video
    </h2>
    <table>
        <tr>
            <td>
                <div class="container">
                    <img id="webCamera" style="width: 640; height: 360;" src="{{ url_for('video_feed') }}?source=rtsp://localhost:554/stream" alt="Web Camera Feed">
                    <canvas id="videoCanvas"></canvas>
                </div>
            </td>
            <td>
                <img src="" id="received_image" style="display: none;" />
            </td>
        </tr>
    </table>

    <p>
        <input type="submit" value="Run Inference" />
    </p>
    <label id="lblInferance" style="display: none;">Inference in progress, please wait ...</label>
</form>

<script>
    const canvas = document.getElementById('videoCanvas');
    const ctx = canvas.getContext('2d');
    const webCamera = document.getElementById('webCamera');
    const videoSource = document.getElementById('videoSource');

    let isDrawing = false;
    let startX, startY, width, height;

    // Set canvas size to match the container
    canvas.width = 640;
    canvas.height = 360;

    canvas.addEventListener('mousedown', startDrawing);
    canvas.addEventListener('mousemove', drawRectangle);
    canvas.addEventListener('mouseup', stopDrawing);
    canvas.addEventListener('mouseout', stopDrawing);

    function startDrawing(e) {
        isDrawing = true;
        [startX, startY] = [e.offsetX, e.offsetY];
    }

    function drawRectangle(e) {
        if (!isDrawing) return;

        ctx.clearRect(0, 0, canvas.width, canvas.height); // Clear previous drawing

        width = e.offsetX - startX;
        height = e.offsetY - startY;

        ctx.strokeStyle = 'red';
        ctx.lineWidth = 2;
        ctx.strokeRect(startX, startY, width, height);
    }

    function stopDrawing() {
        if (isDrawing) {
            isDrawing = false;
            updateWebCameraSource();
        }
    }

    function updateWebCameraSource() {
        const selectedSource = videoSource.value;

        // Show loader
        const loader = document.createElement('div');
        loader.id = 'loader';
        loader.style.position = 'absolute';
        loader.style.top = '50%';
        loader.style.left = '50%';
        loader.style.transform = 'translate(-50%, -50%)';
        loader.style.border = '16px solid #f3f3f3';
        loader.style.borderRadius = '50%';
        loader.style.borderTop = '16px solid #3498db';
        loader.style.width = '120px';
        loader.style.height = '120px';
        loader.style.animation = 'spin 5s linear infinite';
        document.body.appendChild(loader);

        // Remove canvas drawing
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        // Remove loader after 3 seconds (or when the video feed is ready)
        setTimeout(() => {
            document.body.removeChild(loader);
        }, 3000);

        // CSS for loader animation
        const style = document.createElement('style');
        style.innerHTML = `
            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }
        `;
        document.head.appendChild(style);

        // Update the src attribute with rectangle coordinates and video source
        webCamera.src = `{{ url_for('video_feed') }}?x=${startX}&y=${startY}&w=${width}&h=${height}&source=${selectedSource}`;
    }

    // Update source when video source changes
    videoSource.addEventListener('change', updateWebCameraSource);
</script>